 <div class="container"> 
   <div class="jumbotron text-center"> 
       <h1 style="color:#fff">Welcome to <span style="color:#29d846">OldSchool forum</span></h1>
       <h3 style="color:#fff">Simply register to join any discussions and post new questions.</h3>
   </div>
  </div>
 
 <% @messages.each do |message| %> 
 	<div class="col-md-10 col-md-offset-1">
 		<div class="message">
 			<h2 class="message-title"><%= message.title %></h2>
 			<%= link_to "Join Conversation", message, class: "btn-custom" %>
 		</div>
 	</div>
 
 <% end %>

 