 <div class="container"> 
   <div class="jumbotron text-center"> 
       <h1>Welcome to OldSchool forum</h1>
       <h3>Simply register to join any discussions and post new questions.</h3>
   </div>
  </div>
 <% @messages.each do |message| %> 
 	<div class="col-md-10 col-md-offset-1">
 		<div class="message">
 			<h2 class="message-title"><%= message.title %></h2>
 			<%= link_to "Join Conversation", message, class: "btn-custom" %>
 		</div>
 	</div>
 
 <% end %>

 