<div class="jumbotron text-center"> 
<div class="container">
   <h1>Welcome to OldSchool Forum</h1> 
   <h4>There are many different reasons to enroll on a higher education course,this
may include starting a new career or to develop an existing one.</h4> 
<h4>The OldSchool forum is specifically designed to help and guide mature students with higher education studies, 
simply register to join any discussions or post new questions.</h4> 
 </div> 
 </div>
 <% @messages.each do |message| %> 
 	<div class="col-md-10 col-md-offset-1">
 		<div class="message">
 			<h2 class="message-title"><%= message.title %></h2>
 			<%= link_to "Join Conversation", message, class: "btn-custom" %>
 		</div>
 	</div>
 
 <% end %>

 